/* app css stylesheet */

h1.app-title {
    font-size: 5em;
    font-family: 'Monofett', cursive;
    color: navy;
}

.jumbotron {
    background-color: transparent;
}

#zip {
    margin-left: 10px;
}
.min{
  background-color: blue;
}
.max{
  background-color: orange;
}
.min , .max{
padding: 3px 10px;
font-size: 2.5em;
color: white;
border-radius: 4px;

}
#map{

}
.cold {
    color: blue;
}

.warm {
    color: red;

}
.cold , .warm{
  font-size:4.2em;
}
.options {
    margin: 20px auto;
}

.btn.btn-default.btn-options.ng-binding {
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.btn.btn-primary.btn-forecast.ng-binding {
    background-color: navy;
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    margin: 20px;
}

.btn.btn-default.btn-local {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.location-title {
    font-size: 4em;
    margin: 20px;
}

.weather-main {
    font-size: 3em;
}



.table-contents.ng-scope {
    font-size: 1.2em;
    color: white;
    letter-spacing: 1.2px;
    font-weight: bold;
    background-color: silver;
    border: none;
}

.table-contents:nth-child(2n+2) {
    background: white;
    color: black;
}

.table-titles {
    margin-top: 50px;
    font-size: 2em;
    background-color: white;
    color: black;
}

table {
    border-collapse: separate;
    border-spacing: 0 0px;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 5px;
    border: none !important;
  
}
.text-muted{
  font-size: 2.5em !important;
  margin-bottom: 10px;
}
.details-table-contents{
  margin-top: 10px;
  font-size: 1.9em;
}
.forecast-center{
  position: relative;
top: 20px;
font-size: 1.4em !important;
}

@media screen and (max-width: 722px) {
  .table-contents{
    font-size: 1em !important;

  }
  .forecast-center{
    position: relative;
  top: 10px;
  }
}
