<div class='container text-center' ng-controller='weatherCtrl'>
<div class='jumbotron'>
<h1>Weather App </h1>
<p>Lat : {{lat}}</p>
<p>Lon : {{lon}}</p>
<p style='color: red'>{{error}}</p>

<a href="#" class='btn btn-default' ng-click='showOptions = !showOptions'> {{showOptions ? "Hide" : "Options"}}</a>
<a href='#' class='btn btn-danger' ng-click='getLocal()'>Get Local Weather</a>
<a href="#" class='btn btn-default' ng-click='units = !units'>  {{units ? "°C" : "℉"}}</a>
</div>



<weather-options ng-show='showOptions' ></weather-options>

<div class='container weather-data'>
  <h3>{{weatherData.name}}  {{weatherData.sys.country}}</h3>
  <p>{{weatherData.weather[0].main}}</p>
  <img ng-src="http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png">
  <p ng-class="{cold: (weatherData.main.temp < 15 && units) || (weatherData.main.temp < 59 && !units),
    warm: (weatherData.main.temp > 15 && units) || (weatherData.main.temp > 59 && !units) }">{{weatherData.main.temp}}<span>{{units ? " °C" : " ℉"}}</span></p>
</div>



</div>
